html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #343F3E;
  color: white;
}
#phase1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  flex-direction: column; 
}
#phase1 button {
  font-size: 1.5em; 
  padding: 0.5em; 
  margin: 0.5em; 
  cursor: pointer;
  background-color: #505A5B; 
  color: white;
  border: none; 
  width: 50%; 
}
#phase2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  height: 100vh;
}

.left-panel, .join-buttons, #leaderboard {
  flex: 1; /* Allows each section to take equal width */
  margin: 10px;
  display: flex;
  flex-direction: column; /* Aligns inner content vertically */
}

#leaderboard, .left-panel {
  overflow-y: auto; /* Adds scroll to these sections if content exceeds height */
}

.join-buttons {
  justify-content: center; /* Centers buttons vertically */
  align-items: center; /* Centers buttons horizontally */
}

.word-grid {
  display: none; /* Hidden by default, shown in phase 3 */
}

.stats-page {
  display: none; /* Hidden by default, shown in phase 3 */
}

#messageBoard, #playersList {
  flex: 1; /* Allows these sections to fill available space equally */
  margin-bottom: 10px; /* Adds space between message board and input area */
}

#playersList {
  flex: 1; /* Allows the section to fill available space */
  overflow-y: auto; /* Adds scroll if content exceeds height */
  border: 1px solid #fff; /* Add border for visibility */
  padding: 10px; /* Add padding for spacing */
}

input[type="text"], button {
  margin: 5px 0; /* Adds a little space around input and button */
}