html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  body {
    background-color: black;
    color: white;
}

#phase1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column; 
}

#phase1 input[type="text"], #phase1 button {
    font-size: 1.5em; 
    padding: 0.5em; 
    margin: 0.5em; 
}

#phase1 button {
    cursor: pointer;
    background-color: #444; 
    color: white;
    border: none; 
    width: 50%; 
}
  #phase2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    height: 100vh;
  }
  
  .left-panel, .join-buttons, #leaderboard {
    flex: 1; 
    margin: 10px;
    display: flex;
    flex-direction: column; 
  }
  
  #leaderboard, .left-panel {
    overflow-y: auto; 
  }
  
  .join-buttons {
    justify-content: center; 
    align-items: center; 
  }
  
  .word-grid {
    display: none;
  }
  
  .stats-page {
    display: none;
  }
  
  #messageBoard, #playersList {
    flex: 1;
    margin-bottom: 10px; 
  }
  
  input[type="text"], button {
    margin: 5px 0;
  }
  
